// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, td, th {    
    border: 1px solid #686868;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    padding: 4px;
  }
  td {
   padding: 3 px; 
  }
  .bg-gray{
    background-color: #b1b1b1;
  }

  .verde{
    background-color: #5BA453;
    color: #fff;
  }

  .negro{
    background-color: #000;
    color: #fff;
  }

  .rojo{
    background-color: #EB2522;
    color: #fff; 
  }

  .text-center{
    text-align: center;
  }

  .text-right{
    text-align: right; 
  }

  .true{
    color: #00720A;
  }

  .false{
    color: #FF0000;
  }